a {
  text-decoration: none;
  color: black;

  .cardPokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    transition: all 0.5s ease;
    width: 120px;

    &.grass {
      background-color: #90b78f;
    }

    &.fire {
      background-color: #e3655b;
      color: white;
    }

    &.normal {
      background-color: white;
    }

    &.water {
      background-color: #34e5ff;
    }

    &.bug {
      background-color: #dbfe87;
    }

    &.poison {
      background-color: #6761a8;
      color: white;
    }

    &.electric {
      background-color: #f9dc5c;
    }

    &.ground {
      background-color: #a1817d;
    }

    &.fairy {
      background-color: #f7bfb4;
    }

    &.fighting {
      background-color: #c7dbe6;
    }

    &.psychic {
      background-color: #7a7978;
      color: white;
    }

    &.rock {
      background-color: #8d99ae;
      color: white;
    }

    &.ghost {
      background-color: #dfc2f2;
    }

    &.dragon {
      background-color: #f5cb5c;
    }

    &.dark {
      background-color: black;
      color: white;
    }

    &.steel {
      background-color: #779cab;
      color: white;
    }

    &.ice {
      background-color: #55c1ff;
    }

    img {
      width: 100%;
      height: 100px;
    }
  }

  .cardPokemon:hover {
    transform: scale(1.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  @media (max-width: 680px) {
    .cardPokemon:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 420px) {
    .cardPokemon {
      width: 150px;
    }
  }
}
