.loginPage {
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #528b9c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .title {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 16px;
    color: white;
    font-weight: 100;
  }

  img {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      font-size: 55px;
      width: 700px;
      border: none;
      padding-left: 10px;
      outline: none;
      background-color: transparent;
      color: white;
    }

    input::placeholder {
      color: white;
    }
    @media (max-width: 740px) {
      input {
        width: 600px;
        font-size: 45px;
      }
    }

    @media (max-width: 640px) {
      input {
        width: 500px;
        font-size: 35px;
      }
    }

    @media (max-width: 550px) {
      input {
        width: 400px;
        font-size: 25px;
      }
    }

    @media (max-width: 450px) {
      input {
        width: 260px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 550px) {
  .loginPage {
    background-position: right;
  }
}
